@font-face {
    font-family: "Nuetrina";
    src: url("/fonts/Nuetrina.ttf");
}

@font-face {
    font-family: "Prompt";
    src: url("/fonts/Prompt.ttf");
}

:root {
    --accent: #ffffff;
    --secondary: #ffffff;
    --primary: #222222;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    color: var(--secondary);
    scroll-behavior: smooth;
    background-color: var(--primary);
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
}

main {
    margin: auto 0;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.text-container {
    width: 60%;
}

.app-icon {
    width: 80px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    margin-bottom: 10px;
}

.heading {
    font-family: "Nuetrina";
    color: var(--accent);
    margin-bottom: 16px;
}

.subheading {
    font-family: Prompt;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.badge {
    height: 50px;
}
.badge:hover {
    cursor: pointer;
}

.authors {
    font-family: Prompt;
    margin-top: 20px;
    font-weight: 300;
}

.authors a {
    font-family: Prompt;
    color: inherit;
    font-weight: 500;
    text-decoration: none;
}
.authors a:hover {
    text-decoration: underline;
}

.app-screenshot {
    width: 220px;
    margin: auto;
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
}

.footer-image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    top: 30px;
}

.tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.slide-in-blurred-bottom {
    animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-out-blurred-bottom {
    animation: slide-out-blurred-bottom 0.45s
        cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        padding: 40px;
    }
    .text-container {
        width: 100%;
    }
    .heading {
        font-size: 3.1rem;
    }
    .subheading {
        font-size: 1.2rem;
    }
    .footer-image {
        top: 5px;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-out-blurred-bottom {
    0% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px) scaleY(2) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }
}
